.hero {
  display: flex;
  height: 100vh;
  align-items: start;
  flex-direction: column;
  gap: 10px;
  background: linear-gradient(45deg, black, #051119, black);

  h1 {
    font-size: 24px;
    font-weight: 100;
    z-index: 3;

    span {
      color: var(--blue);
      font-size: 2.5rem;
      font-weight: 600;
    }
  }

  .role {
    z-index: 3;
  }

  p {
    margin-bottom: 10px ;
    font-size: 1.07rem;
    color: #c1c1c1;
    z-index: 3;
  }

  .heroBtn {
    z-index: 3;
  }

  .profileImg {
    position: absolute;
    z-index: 2;
    transition: 1s ease-in;
    bottom: 0;
  }

  .gradient {
    height: 120%;
    position: absolute;
    transform: rotate(10deg);
    z-index: 2;
    top: -9%;
    width: 70%;
    background: linear-gradient(45deg, black, #051119, black);
  }

  .bar {
    position: absolute;
    width: 130px;
    height: 110%;
    transform: rotate(10deg);
    top: -5%;
  }
  .blue {
    right: 40%;
    background: var(--blue);
    z-index: 2;
  }
  .white {
    right: 25%;
    background: var(--white);
  }
}
//Desktop Only styles
@media (min-width: 780px){
  .hero {
    justify-content: center;
    padding-bottom: 0;
    padding: 0  0 10px 10%;

    h1 {
      height: 5.5rem;
      width: 100%;
    }

    p {
      width: 40%;
    }

    .bar {
      display: block;
    }
    .profileImg {
      width: 33%;
    }
    .gradient {
      right: 42%;
    }
  }
}
//mobile Only styles
@media (max-width: 781px){
  .hero {
    justify-content: end;
    padding: 0 20px 40px;

    h1 {
      height: 8rem;
      width: 95%;
    }

    .bar {
      display: none;
    }
    .gradient {
      right: 75%;
    }
  }
}